:root {
    --box-color: rgba(255, 255, 255, 0.029);
}
@font-face{
    font-family: retroFont;
    src: url(./fonts/VT323-Regular.ttf);
}

@font-face {
    font-family: filmFont;
    src: url(./fonts/Limelight-Regular.ttf);
}
body.pl :lang(en) {
    display: none;
}

body.en :lang(pl) {
    display: none;
}

/* #nameTitle {
    margin-bottom: 0px;
} */

#mainTitle{
    margin-top: 20px;
}

.is-horizontal-centered {
    justify-content: center;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#i-frame-1, #i-frame-2, #i-frame-3{
    margin-top: -10px;
}

img{
    border-radius: 10px;
}

.interest-tile.box, .custom-box.box {
    background-color: var(--box-color);
}


h5 {
    color: white;
}

body {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background-size: 400% 400%;
    animation: gradient 30s ease infinite; */
}

.panel{
    background-color: rgb(192, 191, 191);
}

.panel-tag{
    margin-left: 8px;
}

.working-tag{
    margin-left: 8px;
}

.gaming-text{
    font-family: retroFont;
}

.films-text
{
    font-family: filmFont;
}

.itch-logo{
    width: 200px;
}

footer{
    height: 200px;
    background-color: red;
}

#bulma-logo{
    height: 24px;
    margin-top: 10px;
    float: left;
}

/* .footer-logo{
    height: 32px;
    
} */

@media (max-width: 600px) {

    .working-tag{
        margin-top: 2px;
    }

    #bulma-logo{
        float: none;
    }
  }

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */